*,
*::after,
*::before {
  font-family: "Commissioner", sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL();
  cursor: pointer;
}
